/* override alert dialog defaults */
.react-confirm-alert-overlay {
    background: rgba(170, 157, 157, 0.822);
  }
  .react-confirm-alert {
    background: rgb(74, 23, 168);
    width: 80%;
    padding: 2em;
  }
  /* custom alert dialog styles */
  .add-dialog h3 {
    margin: 0;
  }
  .add-dialog-buttons {
    float: right;
  }
  .add-dialog-buttons button+button {
    margin-left: 0.5em;
  }